.card {
  position: relative;
  border-radius: 2.5rem 2.5rem 0 2.5rem;
  background-color: $white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 4.2rem 5rem 2.6rem 5.2rem;

  @include _480 {
    padding: 5rem 3.2rem 2.6rem 6.2rem;
  }

  @include _768 {
    padding: 5rem 8rem 2.6rem 6.2rem;
  }

  @include _1000 {
    padding: 5rem 4rem 2.6rem 6.2rem;
  }

  @include _1200 {
    padding: 5rem 3.5rem 2.6rem 7.2rem;
  }

  &__cost {
    position: absolute;
    display: inline-block;
    top: -5rem;
    right: 1rem;

    color: $white;
    border-radius: 2.5rem;
    font-size: 2.6rem;
    padding: 2rem 3rem;
    background: linear-gradient(273deg, #864FF1 0%, #49B3F7 100%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);

    span {
      font-size: 1.4rem;
    }

    @include _415 {
      font-size: 3.2rem;
    }

    @include _1200 {
      font-size: 3.6rem;
      padding: 2.5rem 3.5rem;
    }
  }

  &__title {
    font-size: 2rem;
    line-height: 103.2%;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.6rem;
    line-height: 103.2%;
    background: linear-gradient(27deg, #4271DF 16.72%, #789CF1 95.45%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;

    @include _415 {
      font-size: 1.7rem;
    }

    @include _480 {
      font-size: 1.6rem;
    }

    @include _415 {
      font-size: 1.7rem;
    }
  }

  &__list {}

  &__item {
    margin-bottom: 2rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      border: 1px solid #E0E0E0;
      background-image: url('/icons/card-check.svg');
      background-size: 80%;
      background-position: center;
      background-repeat: no-repeat;
      left: -3.2rem;
      top: calc(50% - 1.2rem);
    }
  }


  &__img {
    position: absolute;
    bottom: 0;
    right: -3rem;
    z-index: 2;
    width: 9rem;

    @include _415 {
      width: 11rem;
      right: -4rem;
    }

    @include _480 {
      width: 13rem;
      right: -8rem;
    }
  }
}