.attestat {
  padding: 5rem 0;

  @include _480 {
    padding: 7rem 0;
  }

  @include _768 {
    padding: 4rem 0 7rem;
  }

  @include _1000 {
    padding: 8rem 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include _1000 {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__content {
    margin: 0 auto;

    max-width: 55rem;

    @include _1000 {
      max-width: 45rem;
    }


    @include _1200 {
      max-width: 48rem;
    }
  }

  &__title {
    text-align: center;

    @include _1000 {
      text-align: left;
    }
  }

  &__text {
    text-align: center;

    @include _1000 {
      text-align: left;

    }

    @include _1200 {
      text-align: left;
      max-width: 48rem;
    }
  }

  &__img {
    margin: 0 auto;
    max-width: 28rem;
    flex-shrink: 0;
    flex-grow: 1;

    @include _415 {
      // margin: 0;
      max-width: 35rem;
    }

    @include _1000 {
      max-width: 38rem;
    }

    @include _1200 {
      max-width: 45rem;
    }
  }
}