.faq {
  -webkit-transform: translate3d(0, 0, 0);
  padding-bottom: 5rem;

  @include _480 {
    padding-bottom: 7rem;
  }

  @include _768 {
    padding-bottom: 8rem;
  }

  &__question {
    padding: 2rem 3rem;
    background-color: $bg;
    border-radius: 2.5rem;
    position: relative;

    @include _415 {
      padding: 2.5rem 3.5rem;
    }

    @include _480 {
      padding: 3.5rem;
    }

    @include _768 {
      padding: 3rem 5.5rem;
    }

    @include _1000 {
      padding: 4rem 6rem;
    }

    @include _1200 {
      padding: 4.5rem 6rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;

      @include _415 {
        margin-bottom: 2rem;
      }

      @include _1000 {
        margin-bottom: 3rem;
      }
    }


  }

  &__title {
    font-family: 'ALS Schlange sans';
    font-size: 1.8rem;
    line-height: 100%;
    cursor: pointer;
    color: $main;
    background: none;
    outline: none;
    border: none;
    text-align: left;
    padding-right: 2rem;

    @include _415 {
      font-size: 2rem;
    }

    @include _768 {
      font-size: 2.4rem;
    }

    @include _1000 {
      font-size: 2.8rem;
    }

    @include _1200 {
      font-size: 3.2rem;
    }

    &::after {
      content: '';
      position: absolute;
      top: 2rem;
      right: 1rem;
      width: 2rem;
      height: 2rem;
      background-image: url('/icons/faq.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform 0.5s ease;

      @include _415 {
        width: 3.2rem;
        height: 3.2rem;
        top: 2rem;
        right: 2.5rem;
      }

      @include _480 {
        width: 4rem;
        height: 4rem;
        top: 2rem;
        right: 2rem;
      }

      @include _1000 {
        top: 3rem;
        right: 3rem;
      }

      @include _1200 {
        width: 5rem;
        height: 5rem;

      }
    }

    &.active {
      &::after {
        transform: rotate(45deg);
      }
    }

    &.active+.faq__collapse {
      -webkit-transform: translate3d(0, 0, 0);
      grid-template-rows: 1fr;
      padding-top: 2rem;

      @include _768 {
        padding-top: 3rem;
      }

      @include _1000 {
        padding-top: 4rem;
      }
    }

  }

  &__collapse {
    -webkit-transform: translate3d(0, 0, 0);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease, padding-top 0.5s ease;

    &>div {
      overflow: hidden;
    }
  }

  &__text {
    font-size: 1.2rem;
    line-height: 130%;

    @include _415 {
      font-size: 1.5rem;
      line-height: 150%;
    }

    @include _480 {
      font-size: 1.4rem;
      line-height: 130%;
    }

    @include _1000 {
      font-size: 1.6rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}