.footer {
  background-color: $bg;
  padding: 3rem 0 3rem;


  @include _1200 {
    padding: 5rem 0 3rem;
  }

  p,
  a {
    font-size: 1.4rem;
    line-height: 192%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include _480 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include _768 {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 6rem;
    }

    @include _1000 {
      grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
      column-gap: 0rem;
      justify-items: center
    }
  }

  &__logo {
    grid-column: 1 / 3;
    width: 12rem;
    margin-bottom: 3rem;

    @include _415 {
      width: 24rem;
    }

    @include _480 {
      grid-column: 1 / -1;
    }

    @include _768 {
      width: 17rem;
      grid-column: 1 / 2;
    }

    @include _1000 {
      margin-right: 4.5rem;
    }

    @include _1200 {
      width: 24rem;
    }
  }

  &__logo-link {}

  &__logo-img {}

  &__classes {
    grid-column: 1 / 2;
    margin-bottom: 2rem;

    @include _480 {
      grid-column: 1 / 2;
    }

    @include _768 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &__title {
    font-size: 1.6rem;
    margin-bottom: 1rem;

    @include _415 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    @include _480 {
      font-size: 1.8rem;
    }

    @include _1200 {
      font-size: 2rem;
    }
  }

  &__list {}

  &__item {}

  &__documents {
    grid-column: 2 / 3;

    @include _480 {
      grid-column: 2 / 3;
    }

    @include _768 {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }

  &__license {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__social {
    grid-column: 1 / 3;
    margin-bottom: 3rem;

    @include _480 {
      grid-column: 3 / 4;
    }

    @include _768 {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
    }
  }

  &__social-list {
    display: flex;
    gap: 1rem;
  }

  &__social-item {
    transition: transform 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__adresses {
    grid-column: 1 / 3;
    margin-bottom: 2rem;

    @include _480 {
      grid-column: 1 / -1;
      display: flex;
      justify-content: space-between;
    }

    @include _768 {
      justify-content: space-evenly;
    }

    @include _1000 {
      grid-column: 5 / 6;
      flex-direction: column;
      // margin-left: auto;
    }
  }

  &__adress {
    display: flex;
    gap: 1rem;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__copywrites {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include _480 {
      grid-column: 1 / -1;
    }

    @include _1000 {
      grid-column: 1 / 2;
      align-items: flex-start;
      justify-self: start;
    }

    p,
    a {

      font-size: 0.8rem;
      color: #9299AF;
      line-height: 200%;
      text-align: center;
    }
  }

  &__nda {}
}